
html{
    scroll-behavior:smooth;
}
*{margin: 0;padding: 0;box-sizing:border-box; font-family: 'Poppins', sans-serif;}
li{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
 li a{
    text-decoration: none;
}
p{
  font-size: 0.9rem;
  line-height: 1.3;
  font-weight: 400 !important;
  color: #606060;
}




.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url(../img/img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position:0px -70px; */
    clip-path: polygon(100% 0%,100% 75%,50% 100%,0 75%,0 0);
    position: relative;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    opacity: 0.5;
    z-index: -1;
}
.navbar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    opacity: .3;
}
.nav-item a{
    color: #fff !important;
    font-weight: bold !important;
}
.navbar-brand{
    color: #fff!important;
    font-weight: bold !important;
}

/* ................hero section work........... */
.header-section{
    width: 100%;
    height: inherit;
    text-align: center;
    position: relative;

}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    color: #fff;
}
.header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;

}
.header-buttons a:hover{
    color: #50d1c0;
    background: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
}
.center-div p{
    font-size: 1.3rem;
    padding: 10px 0 15px 0;
    color: #fff;
}
.Vheader-extradiv{
    color: black;
}
/* ..........HEADER 4DIV.................... */
.header-extradiv{
    width: 100%;
    margin: 100px 0;
    text-align: center;

}
.extradiv{
    background-color: #fff;
    border: medium none;
    padding: 50px !important;
    border-radius: 3px;
    transition: 0.3s;
}
.extradiv h4{
    margin: 10px 0 10px 0;
    font-size: 1.1rem !important;
    word-spacing: 4px;
    font-size: 0.9rem;
}
.extradiv p{
    font-weight: lighter !important;
    font-size: 13px;
    line-height: 1.3;
    font-weight: 400 !important;
    color: #606060 !important;
  }
  .extradiv a{
    color: #50d1c0;
  }
.extradiv:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
    
  }

  /* .........aour growth section............. */

  .serviceoffer{
    background-color:#eff1e4ab;
    padding: 50px 0;
    margin-bottom: 50px;
  }
  .headings{
    margin-bottom: 50px;
  }
  .headings h2{
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .names h5{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;

  }
  .servic-div h5{
  font-size: 1rem;
  line-height: 1;
  }
.servic-div p{
    font-size: 0.8rem;
}
.service-icon{
    display: flex;
    justify-content:center ;
    align-items: center;
    
}

.service-icon a{
    color: #50d1c0;
    height: 10px;
  }
  .progress{
    height: 0.6rem !important;
    margin-bottom: 25px !important;
    background-color: #38363498 !important;
  }

  /* ......................project css start............... */
  .project-work{
    margin: 100px 0;

  }
  .project-work h5{
    text-align: center;
    font-size: 1.1rem;
    
  }
  .project-work h1{
    text-align: center;
  }

  /* ................OUR PRICING CSS...................... */

  .pricing{
    height: 100vh;
    width: 100%;
    padding: 50px 0px;
    
    position: relative;
  }
  .pricing::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(160deg, #16c9f6 55%,#fff 0%);
    
}
.money{
    font-size: 40px;
    line-height: 1;
    color: #606060;
}
.card{
    transition: 0.4s ease;

}
.card-header{
    font-size: 1.3rem;
    background:#fcfdfd !important;
    padding: 25px 9px !important;
    
}
.card-body{
    padding: 30px 0px !important;
}
.card-body li{
    margin: 10px 0px !important;
    font-weight: 400 !important;
    font-size: 14px;
    line-height: 1.6;

}
.card-footer{
    background-color: white !important;
    padding: 30px 0px !important;
}
.card-footer a{
    border: 1px solid #50d1c0;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    text-decoration: none !important;

}
.card:hover .card-footer a{
    color: #fff;
    background: #50d1c0;
    text-decoration: none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
    
}
.card:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}
.card:hover .card-header, .card:hover .money{
    color: #50d1c0;

}
.card-second{
    transform: translateY(-20px) !important;
    

}
/* ................our happy client................... */

.happy-custumor{
    width: 100%;
    height: 100vh;
    padding:80px 0px ;

}
.box{
    text-align: center;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: 0px 5px 10px 0 rgba(0,0,0,0.3);
    border-radius:2px ;
    transition: 0.3s ease;
}
.box:hover{
    color: white;
    background-color: #16c9f6;
}
.carousel-indicators{
    position: absolute;
    right: 0;
    bottom: -60px !important;
    color: #16c9f6;

}
.carousel-indicators button{
    background-color: #16c9f6 !important;
    color: #16c9f6 !important;

}
.box a{
    position: relative;
}
.box a img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid #16c9f6;
}
.box h2{
    font-size: 1.2rem;
}
.box h3{
    font-size: 1rem;
}
/* .....................start contact us.................? */
.contact-us{
    height: 100vh;
    width: 100%;
    padding: 80px 0px;
    position: relative;
}
.contact-us::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:linear-gradient(330deg,#16c9f6 55%,#fff 0%);
    z-index: -1;
}
.contact-us button{
        background-color:#3ccdbb;
        border: 1px solid #fff;
        border-radius: 100px;
        margin: 0 5px;
        padding: 12px 35px;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;
    
    }
    

.contact-us button:hover{
    color:#3ccdbb;
    background: #fff;
    text-decoration: none;
    border: 1px solid #3ccdbb;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
}
.form:hover button{
    color:#3ccdbb;
    background: #fff;
    text-decoration: none;
    border: 1px solid #3ccdbb;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
}
::placeholder{
    font-size: 0.85rem;
}
/* ..........................join us part start.................../ */

.join-us{
    width: 100%;
    height: auto;
    margin: 80px auto;

}
.us-input{
    border-radius: 100px 0px 0px 100px !important;
    min-width: 150px;
    min-height: 45px;
    /* border: 1px solid #3ccdbb !important; */
}
.input-group-text{
    color: #fff !important;
    background: #3ccdbb !important;
    border-radius: 0px 100px 100px 0px !important;
    min-width: 120px;
    min-height: 45px;
    
}
/* .....................foooter start...................  */
.footersection{
    width: 100%;
    height: auto;
    padding: 70px 0px 20px 0px;
    background:#16c9f6;
    position: relative;

}
.footersection p{
    color: #fff;

}
.footersection li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    

}
.tow{
    width: 170px !important;
}
.footersection h4{
    text-transform: uppercase;
    color: #fff;
    margin-top: 25px;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
}
/* ...............................scrolling top......................................scrolling */

.scrolltop{
       float: right;
       color: white;
}
#mybtn{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color:#606060;
    text-align: center;
    padding-top: 10px;
    

}
#mybtn:hover{
    color: #16c9f6;
    background-color: #606060;
    border: 1px solid goldenrod;
}
.work{
  
    display: flex;
   
}
.work li{
    list-style:circle;
    
}
.animation{
    display: flex;
    align-items: center;
    
}

/* ................................writting animation on header.......................................writting */

.div1{
   display: flex;
   justify-content: center;

   
   
}

.writing{
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation:text 6s steps(22) infinite alternate;
    border-right: 3px solid #1e5799;
    font-size: 35px;
    color: #606060;
    
}

@keyframes text{
    0%{
        width: 0ch;
    }
     50%{
        width: 22ch;
    }
}



/* ...............resposiveness of th wbsite...................... */

@media only screen and (max-width:992px) {
    .nav-item{
        text-align: center;
        
    }
    .pricing{
        height: 100%;
    }
    .contact-us{
        height: 100%;
    }
    .happy-custumor{  height: 100%;}
    .div1{ display: flex; flex-direction: column; align-items: center;}
    
}